h1{
  /* Gantikan warna ke #F0E68C */
  color: #F0E68C;
  /* ganti bacground */
  background-color:#DC143C;
  height:80px;
  width:200px;
}

h2{
  /*gantikan warna ke #DAA520 */
  color: #DAA520;
}

p {
  /* Gantikan warna ke #006400*/
  color: #006400;
}

li{
  color: #A9A9A9;
}
.selected{
  color: #008B8B;
}
