.header {
  background-color: #8B0000;
}
.main {
  background-color: #FF8C00;
}
.footer {
  background-color: #0000ff;
}

h1{
  /* Gantikan warna ke #F0E68C */
  color: #F0E68C;
  /* ganti bacground */
  background-color:#DC143C;
  height:60px;
  width:460px;
}

h2{
  /*gantikan warna ke #DAA520 */
  color: #DAA520;
}

p {
  /* Gantikan warna ke #006400*/
  color: #006400;
}

li.selected{
  color: #008B8B;
}
